// base
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/icons"; 
@import "./base/zeroing";
// @import "./base/popup";
// @import "./base/burger";
@import "./base/ui";
// libs
@import "./libs/swiper-bundle.min";
// blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/hero";
@import "./blocks/partners";
@import "./blocks/contacts-section";
// components
@import "./components/nav";
@import "./components/header-contacts";
@import "./components/video-block";
@import "./components/about-section";
@import "./components/mission";
@import "./components/services-section";
@import "./components/form-field";
@import "./components/portfolio-section";
@import "./components/slider-nav";
@import "./components/more-info";
@import "./components/testimonials";
@import "./components/facts";
@import "./components/recent-news";
@import "./components/social";
// services
@import "./components/page-hero";
@import "./components/breadcrumbs";
@import "./components/services-content";
@import "./components/we-offer";
@import "./components/how-we-do";

// global styles
._container {
	max-width: $width + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 15px;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

body{
	&._lock{
		overflow: hidden;
	}
}

::-webkit-scrollbar{
	width: 20px;
}
::-webkit-scrollbar-thumb{
	background: #D7DADD;
	border-radius: 4px;
	border: 3px solid $athens;
}
::-webkit-scrollbar-track{
	background: $athens;
}


// media
@import "./base/media";