<section class="page-hero page-hero--project">
   <div class='_container'>
      <ul class="page-hero__breadcrumbs breadcrumbs">
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Homepage</a>
         </li>
         <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Work</a>
         </li>
         <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">Modern Cottage</a>
         </li>
      </ul>
      <h1 class="page-hero__title page-hero__title--small">Modern Cottage</h1>
      <div class="project-slider-wrapper">
         <div class="project-slider">
            <button class="slider-nav__btn project-slider__btn project-slider__prev slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#prevSliderNav'></use>
               </svg>
            </button>
            <button class="slider-nav__btn project-slider__btn project-slider__next slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#nextSliderNav'></use>
               </svg>
            </button>
            <div class="project-slider-swiper _swiper">
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
               <div class="project-slider__item">
                  <img src="./img/progect.jpg" alt="progect">
               </div>
            </div>
         </div>
         <div class="project-slider-nav _swiper">
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
            <div class="project-slider-nav__item">
               <img src="./img/progect.jpg" alt="progect">
            </div>
         </div>
      </div>
      
   </div>
</section>