<section class="history">
   <div class='history__container _container'>
      <div class="history__top">
         <h2 class="history__title title">
            Our history
         </h2>
         <div class="slider-nav">
            <button class="slider-nav__btn history__prev slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#prevSliderNav'></use>
               </svg>
            </button>
            <button class="slider-nav__btn history__next slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#nextSliderNav'></use>
               </svg>
            </button>
         </div>
      </div>
      <div class="history__content grid">
         <ul class="history-nav">
            <li class="history-nav__item">
               <button class="history-nav__btn _active">Present</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">March 2019</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">November 2018</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">July 2015</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">August 2010</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">February 2007</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">May 2004</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">October 2001</button>
            </li>
            <li class="history-nav__item">
               <button class="history-nav__btn">June 2000</button>
            </li>
         </ul>
         <div class="history-slider _swiper">
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas pibus.  Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, Eu nec vitae, 
               </p>
            </div>
            <div class="history__item">
               <img class="history__img" src="./img/history.jpg" alt="History image">
               <p class="history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, Eu nec vitae, Eu nec vitae, 
               </p>
            </div>
         </div>
         
      </div>
   </div>
</section>