<section class="partners partners--about">
   <div class='_container'>
      <h2 class="partners__title title title--center">Our partners</h2>
      <p class="descr descr--center">We are supported by 12+ industry bodies and media partners</p>
      <ul class="partners__list">
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/01.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/02.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/03.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/04.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/05.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/06.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/01.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/02.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/03.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/04.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/05.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
         <li class="partners__item">
            <a href="#" class="partners__link">
               <img src="./img/partners/06.png" alt="Our partner" class="partners__logo">
            </a>
         </li>
      </ul>
   </div>
</section>