<section class="portfolio-section">
   <div class='_container'>
      <div class="portfolio-section__top">
         <h2 class="portfolio-section__title title">
            Browse our selected projects 
            and learn more about our work
         </h2>
         <div class="slider-nav">
            <button class="slider-nav__btn portfolio-section__prev slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#prevSliderNav'></use>
               </svg>
            </button>
            <button class="slider-nav__btn portfolio-section__next slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#nextSliderNav'></use>
               </svg>
            </button>
         </div>
      </div>
      <div class="portfolio-section__items _swiper swiper-no-swiping">
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/07.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Red Finger Building</div>
               <div class="portfolio-item__descr">Business Centers</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/01.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Cubes Building</div>
               <div class="portfolio-item__descr">Business Centers</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/06.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">The Pencil Building</div>
               <div class="portfolio-item__descr">Stores & Malls</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/02.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Modern Cottage</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/03.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Luxury Beach House</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <img class="portfolio-item__image" src="./img/portfolio/09.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Brown and Gray Painted House</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
      </div>
      <div class="more-info">
         <h4 class="more-info__subtitle">Explore all our works</h4>
         <a href="#" class="btn btn--fill">View portfolio</a>
      </div>
   </div>
</section>