<div class="portfolio">
   <div class='_container'>
      <ul class="portfolio-tabs-nav">
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn _active" data-path="all">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href='img/sprite.svg#house'></use>
               </svg>
               <span class="portfolio-tabs-nav__text">All Projects</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="const">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href='img/sprite.svg#services-1'></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Construction</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="dev">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href='img/sprite.svg#services-2'></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Project Development</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="design">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href='img/sprite.svg#services-3'></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Interior Design</span>
            </button>
         </li>
         <li class="portfolio-tabs-nav__item">
            <button class="portfolio-tabs-nav__btn" data-path="repair">
               <svg class="portfolio-tabs-nav__icon">
                  <use xlink:href='img/sprite.svg#services-4'></use>
               </svg>
               <span class="portfolio-tabs-nav__text">Repairs</span>
            </button>
         </li>
      </ul>
      <ul class="portfolio-tabs grid">
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="const">
               <div class="portfolio-item__image"><img src="./img/portfolio/01.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Cubes Building</div>
                  <div class="portfolio-item__descr">Business Centers</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/02.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Modern Cottage</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/03.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Luxury Beach House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="repair">
               <div class="portfolio-item__image"><img src="./img/portfolio/04.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Modern Double Bedroom</div>
                  <div class="portfolio-item__descr">Apartments & flats</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="design">
               <div class="portfolio-item__image"><img src="./img/portfolio/05.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Kids Bedroom With Decorations</div>
                  <div class="portfolio-item__descr">Apartments & flats</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="const">
               <div class="portfolio-item__image"><img src="./img/portfolio/06.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">The Pencil Building</div>
                  <div class="portfolio-item__descr">Stores & Malls</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="const">
               <div class="portfolio-item__image"><img src="./img/portfolio/07.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Red Finger Building</div>
                  <div class="portfolio-item__descr">Business Centers</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="design">
               <div class="portfolio-item__image"><img src="./img/portfolio/08.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Scandinavian Style Interior</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="repair">
               <div class="portfolio-item__image"><img src="./img/portfolio/09.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Brown and Gray Painted House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>

         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/01.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Cubes Building</div>
                  <div class="portfolio-item__descr">Business Centers</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/02.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Modern Cottage</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/03.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Luxury Beach House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/04.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Modern Double Bedroom</div>
                  <div class="portfolio-item__descr">Apartments & flats</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="design">
               <div class="portfolio-item__image"><img src="./img/portfolio/05.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Kids Bedroom With Decorations</div>
                  <div class="portfolio-item__descr">Apartments & flats</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/06.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">The Pencil Building</div>
                  <div class="portfolio-item__descr">Stores & Malls</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/07.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Red Finger Building</div>
                  <div class="portfolio-item__descr">Business Centers</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/08.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Scandinavian Style Interior</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="repair">
               <div class="portfolio-item__image"><img src="./img/portfolio/09.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Brown and Gray Painted House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>

         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/09.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Brown and Gray Painted House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
         <li class="portfolio-tabs__item">
            <div class="portfolio-item" data-target="dev">
               <div class="portfolio-item__image"><img src="./img/portfolio/09.jpg" alt="Portfolio cover"></div>
               <div class="portfolio-item__content">
                  <div class="portfolio-item__title">Brown and Gray Painted House</div>
                  <div class="portfolio-item__descr">Private houses</div>
                  <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
               </div>
            </div>
         </li>
      </ul>
      <div class="portfolio__load">
         <button class="portfolio-more">
            <svg>
               <use xlink:href='img/sprite.svg#load-more'></use>
            </svg>
            Load more
         </button>
      </div>
   </div>
</div>