<section class="related-projects">
   <div class='_container'>
      <div class="related-projects__top">
         <h2 class="related-projects__title title">
            Related projects
         </h2>
         <div class="slider-nav">
            <button class="slider-nav__btn related-projects__prev slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#prevSliderNav'></use>
               </svg>
            </button>
            <button class="slider-nav__btn related-projects__next slider-btn">
               <svg>
                  <use xlink:href='img/sprite.svg#nextSliderNav'></use>
               </svg>
            </button>
         </div>
      </div>
      <div class="related-projects__items _swiper swiper-no-swiping">
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/05.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Kids Bedroom With Decorations</div>
               <div class="portfolio-item__descr">Apartments & flats</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/04.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Modern Double Bedroom</div>
               <div class="portfolio-item__descr">Apartments & flats</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/08.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Scandinavian Style Interior</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/02.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Modern Cottage</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/03.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Luxury Beach House with big swimming pool</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
         <div class="portfolio-item">
            <div class="portfolio-item__image"><img src="./img/portfolio/09.jpg" alt="related-projects cover"></div>
            <div class="portfolio-item__content">
               <div class="portfolio-item__title">Brown and Gray Painted House</div>
               <div class="portfolio-item__descr">Private houses</div>
               <a href="#" class="portfolio-item__btn btn btn--stroke-orange">View Project</a>
            </div>
         </div>
      </div>
      <div class="more-info">
         <h4 class="more-info__subtitle">Explore all our works</h4>
         <a href="#" class="btn btn--fill">View portfolio</a>
      </div>
   </div>
</section>