<section class="we-offer">
   <div class='we-offer__container _container grid'>
      <div class="we-offer__image">
         <img src="../img/service/we-offer.jpg" alt="Room photo">
      </div>
      <div class="we-offer__content">
         <h2 class="we-offer__title title">We offer</h2>
         <div class="we-offer__spollers _spollers">
            <div class="we-offer__spoller">
               <h4 class="we-offer__caption" data-spoller data-active><span class="we-offer__icon"></span> Interior design of apartments</h4>
               <div class="we-offer__text">
                  <p class="we-offer__descr">
                     Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                  </p>
               </div>
            </div>
            <div class="we-offer__spoller">
               <h4 class="we-offer__caption" data-spoller><span class="we-offer__icon"></span> Interior design of private houses</h4>
               <div class="we-offer__text">
                  <p class="we-offer__descr">
                     Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>