.achieve{
   padding: 120px 0px;
   background: url('../img/achieve/achieveBg.png') right bottom -350px no-repeat;

   @media (max-width: $md3+px){
      padding: 60px 0;
   }

   &__item{
      grid-column: 3 span;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-position: top center;
      background-size: 48px 48px;
      background-repeat: no-repeat;
      padding: 70px 0px 0px 0px;

      @media (max-width: $md3+px){
         grid-column: 6 span;
      }

      &--reccom{
         background-image: url("../img/achieve/reccom.svg");
      }

      &--renov{
         background-image: url("../img/achieve/renov.svg");
      }

      &--spec{
         background-image: url("../img/achieve/spec.svg");
      }

      &--finish{
         background-image: url("../img/achieve/finish.svg");
      }
   }

   &__value{
      font-weight: 700;
      font-size: 46px;
      line-height: 130%;
      color: $orange;
      margin: 0px 0px 10px 0px;

      @media (max-width: $md1+px){
         font-size: 36px;
      }
   }

   &__text{
      text-align: center;
      font-size: 14px;
      line-height: 150%;
      color: $ebony;
   }

   &__list{
      margin: 0px 0px 260px 0px;

      @media (max-width: $md3+px){
         margin: 0px 0px 80px 0px;
      }
   }

   &__content{
      display: flex;
      align-items: flex-start;

      @media (max-width: 1024px){
         display: block;
      }
   }

   &__image{
      @media (max-width: $md1+px){
         width: 400px;
      }
      @media (max-width: 1024px){
         margin: 0 auto;
      }
      @media (max-width: 576px){
         width: 100%;
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__info{
      background: #FFFFFF;
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      border-radius: 4px;
      width: 735px;
      flex-shrink: 0;
      position: relative;
      top: -130px;
      left: -30px;
      padding: 80px 40px 60px 80px;
      z-index: 5;

      @media (max-width: $md1+px){
         flex: 0 0 55%;
         top: 0;
         left: 0;
         padding: 80px 40px 60px 40px;
      }
      @media (max-width: 1024px){
         width: 100%;
      }
      @media (max-width: 576px){
         padding: 15px;
      }
   }
}

.quote{
   &__content{
      padding: 9px 53px;
      position: relative;
      margin: 0px 0px 32px 0px;

      @media (max-width: 576px){
         padding: 0px 30px;
         margin: 0px 0px 0px 0px;
      }

      &:before{
         content: '';
         position: absolute;
         top: 8px;
         left: -5px;
         width: 20px;
         height: 20px;
         background: url('../img/achieve/braces.svg') center / cover no-repeat;
      }

      p{
         font-weight: 700;
         font-size: 20px;
         line-height: 150%;
         color: $ebony;
         @media (max-width: 576px){
            font-size: 16px;
         }

         &:not(:last-child){
           margin: 0px 0px 30px 0px;
           @media (max-width: 576px){
              margin: 0px 0px 15px 0px;
           }
         }
      }
   }

   &__footer{
      font-size: 14px;
      line-height: 150%;
      color: $stormGray;
      padding: 20px 53px;
      background: url('../img/achieve/signature.svg') right 65px center / 100px 68px no-repeat;
      @media (max-width: 576px){
         background-image: none !important;
         padding: 15px;
      }
   }

   &__author{
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      color: $ebony;
      margin: 0px 0px 2px 0px;
   }
}