.contacts{
   padding: 120px 0px;
   @media (max-width: $md3+px){
      padding: 80px 0px;
   }

   &__content{
      display: flex;
      justify-content: space-between;

      @media (max-width: 1024px){
         display: block;
      }
   }

   &__image{
      flex-shrink: 0;
      margin: 0px 20px 0px 0px;

      @media (max-width: $md1+px){
         flex: 1 1;
      }

      @media (max-width: 1024px){
         display: none;
      }

      img{
         width: 100%;
         height: auto;
         object-fit: contain;
      }
   }
}

.form-contacts{
   flex: 0 0 600px;

   &__line{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 23px 0px;

      @media (max-width: 600px){
         display: block;
         margin: 0px 0px 0px 0px;

         .form-contacts__field {
            width: 100%;
            margin: 0px 0px 15px 0px;
         }
      }
   }

   &__field{
      width: 47.5%;

      &--big{
         width: 100%;
      }
   }

   &__bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 39px 0px 0px 0px;

      @media (max-width: 600px){
         display: block;
      }
   }

   &__checkbox{
      max-width: 315px;

      @media (max-width: 600px){
         display: block;
         max-width: none;
         margin: 0px 0px 20px 0px;
      }

      .custom-checkbox__text{
         font-size: 16px;
         line-height: 160%;

         &:before, &:after{
            top: 4px;
         }
      }
   }

   &__btn{
      @media (max-width: $md4+px){
         width: 100%;
      }
   }

   .form-field__input.form-field__input--big{
      height: 125px;
   }

   .form-field__caption{
      margin: 0px 0px 10px 0px;
      font-size: 16px;
      line-height: 160%;
      color: $gray;
   }

   &__fields{
      width: 47.5%;
      padding-left: 3px;

      .form-field__caption{
         margin: 0px 0px 21px 0px;
      }

      @media (max-width: 600px){
         width: 100%;
         margin: 0px 0px 15px 0px;
      }
   }

   &__radio{
      &:not(:last-child){
        margin: 0px 22px 0px 0px;
      }
   }

   .form-field__input{
      font-size: 16px;
      line-height: 160%;
      height: 52px;
   }

   .choices{
      width: 100%;

      &.is-open .choices__inner{
         border-radius: 4px 4px 0 0;
      }
   }

   .choices__inner{
      border: 1px solid #D7DADD;
      border-radius: 4px;
      height: 52px;
      background: $athens;
      padding: 0;
      margin: 0;
   }

   .choices__list--single .choices__item{
      font-size: 16px;
      line-height: 160%;
      color: $ebony;
   }

   .choices__list--single .choices__placeholder{
      opacity: 1;
      color: #9A9CA5;
      font-size: 16px;
      line-height: 160%;
   }

   .choices__list--single{
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 15px;
      
   }

   .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item{
      font-size: 16px;
      line-height: 160%;
      color: $ebony;
      transition: all .3s ease-in-out;
      padding: 10px;

      &.is-highlighted{
         background: transparent;
      }

      @media(any-hover: hover){
         &:hover{
            background: darken(#D7DADD, 5%);
         }
      }
      
      &.is-selected{
         background: darken(#D7DADD, 10%);
         color: $gray;
         pointer-events: none;
      }
   }

   .choices__list--dropdown{
      background: $athens;
      border-radius: 0 0 4px 4px;
      border: 1px solid #D7DADD;
      border-top-color: transparent;
      display: block;

      .choices__placeholder{
         display: none;
      }
   }

   .choices[data-type*=select-one] .choices__inner{
      padding-bottom: 0;
   }

   .choices[data-type*=select-one]::after{
      border: none;
      margin-top: 0 !important;
      width: 14px;
      height: 7px;
      right: 19px;
      transform: translateY(-50%);
      background: url('../img/svg/arrow.svg') center / cover no-repeat;
      transition: all .3s ease-in-out;
   }

   .choices.is-open[data-type*=select-one]::after{
      margin-top: -7px;
      transform: translateY(-50%) rotate(180deg);
   }

   .choices__list--dropdown .choices__item--selectable::after{
      display: none;
   }
}