.form-field{
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   &._disabled{
      opacity: .6;
   }

   &__caption{
      font-size: 14px;
      line-height: 150%;
      color: $gray;
      margin: 0px 0px 7px 0px;
   }

   &__input{
      background: $athens;
      border: 1px solid #D7DADD;
      border-radius: 4px;
      width: 260px;
      height: 44px;
      font-size: 14px;
      color: $gray;
      padding: 0 16px;
      transition: all .3s ease-in-out;

      &::placeholder{
         color: #9A9CA5;
      }

      &--big{
         height: 66px;
         resize: none;
         padding-top: 10px;
      }

      &:focus{
         border-color: #9A9CA5;
      }
   }

   &--big{
      flex-grow: 1;

      .form-field__input{
         width: 100%;
      }
   }

   &--cont{
      width: 100%;

      .form-field__input{
         width: 100%;
      }
   }

   &--footer{
      .form-field__input{
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         background: rgba(255, 255, 255, 0.12);
         border: 1px solid rgba(255, 255, 255, 0.2);
         color: #fff;

         &::placeholder{
            color: rgba(#fff, .6);
         }
      }
   }
}

.custom-checkbox{
   position: relative;
   cursor: pointer;
   &__input{
      position: absolute;
      opacity: 0;
   }

   &__text{
      display: inline-block;
      position: relative;
      padding: 0px 0px 0px 27px;
      font-size: 14px;
      line-height: 150%;
      color: $gray;

      &:before{
         content: '';
         position: absolute;
         left: -1px;
         top: 1px;
         display: inline-block;
         width: 16px;
         height: 16px;
         border: 1px solid #B3B7BC;
         background: transparent;
         border-radius: 3px;
         transition: all .3s ease-in-out;
      }

      &:after{
         content: '';
         position: absolute;
         left: -1px;
         top: 1px;
         width: 16px;
         height: 16px;
         background: url('../img/icons/check.svg') center/10px 8px no-repeat;
         opacity: 0;
         transition: all .3s ease-in-out;
      }
   }
   
   &__input:checked + &__text:before{
      background: $orange;
      border-color: $orange;
   }

   &__input:checked + &__text:after{
      opacity: 1;
   }

   &__input:disabled + &__text{
      opacity: .5;
   }

   &__input:disabled + &__text:before{
      background: $athens;
      border: 1px solid #D7DADD;
   }
}

.custom-radio{
   position: relative;
   cursor: pointer;
   &__input{
      position: absolute;
      opacity: 0;
   }

   &__text{
      display: inline-block;
      position: relative;
      padding: 0px 0px 0px 27px;
      font-size: 16px;
      line-height: 160%;
      color: $gray;

      &:before{
         content: '';
         position: absolute;
         left: -1px;
         top: 4px;
         display: inline-block;
         width: 16px;
         height: 16px;
         border: 1px solid #B3B7BC;
         border-radius: 50%;
         transition: all .3s ease-in-out;
      }

      &:after{
         content: '';
         position: absolute;
         left: 3px;
         top: 8px;
         width: 8px;
         height: 8px;
         background: $orange;
         border-radius: 50%;
         opacity: 0;
         transition: all .3s ease-in-out;
      }
   }
   
   &__input:checked + &__text:before{
      border-color: $orange;
   }

   &__input:checked + &__text:after{
      opacity: 1;
   }

   &__input:disabled + &__text{
      opacity: .5;
   }

   &__input:disabled + &__text:before{
      background: $athens;
      border: 1px solid #D7DADD;
   }
}

.custom-file{
   position: relative;
   cursor: pointer;
   &__input{
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
   }

   &__text{
      display: inline-block;
      position: relative;
      padding: 0px 0px 0px 36px;
      font-size: 16px;
      line-height: 170%;
      color: $gray;
      background: url('../../img/icons/file.svg') left center / 24px 24px no-repeat;
   }
   
   &__input:disabled + &__text{
      opacity: .5;
   }

   &__input:disabled + &__text:before{
      background: $athens;
      border: 1px solid #D7DADD;
   }
}