.page-hero{
   padding: 153px 0px 80px 0px;
   min-height: 600px;
   background: $athens;
   background-position: right -8px top;
   background-repeat: no-repeat;

   &__breadcrumbs{
      margin: 0px 0px 40px 0px;
   }

   &__title{
      font-weight: 700;
      font-size: 72px;
      line-height: 130%;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $ebony;
      max-width: 600px;
      margin: 0px 0px 24px 0px;

      &--small{
         text-transform: initial;
         font-size: 64px;
         line-height: 120%;
      }
   }

   &__descr{
      font-size: 20px;
      line-height: 150%;
      color: $stormGray;
      max-width: 600px;
   }

   &--services{
      background-image: url('../img/servicesBg.png');
   }

   &--service{
      background-image: url('../img/serviceBg.png');
   }

   &--work{
      background-image: url('../img/workBg.png');
   }

   &--project{
      background-image: url('../img/projectBg.png');
      background-position: right -8px top 48px;
      background-color: #fff;
   }

   &--about{
      background-image: url('../img/aboutBg.png');
   }

   &--positions{
      background-image: url('../img/positionsBg.png');
      background-position: right -9px bottom;
   }
}