.we-offer {
   padding: 120px 0 180px 0;
   @media (max-width: 576px){
      padding: 60px 0;
   }

   &__container{
      @media (max-width: 1024px){
         display: block;
      }
   }

	&__image {
      grid-column: 7 span;
      border-radius: 4px;
      overflow: hidden;

      img{
         width: 100%;
         height: auto;
         object-fit: cover;
      }
	}

	&__content {
      grid-column: 5 span;
      padding: 0px 0px 0px 75px;

      @media (max-width: $md1+px){
         padding: 0px 0px 0px 0px;
      }
      @media (max-width: 1024px){
         padding: 40px 0px 0px 0px;
      }
	}

	&__title {
      margin: 0px 0px 60px 0px;
	}

	&__spollers {
	}

	&__spoller {
      &:not(:last-child){
        margin: 0px 0px 24px 0px;
      }
	}

   &__icon{
      position: relative;
      transition: all .3s ease-in-out;
      margin: 10px 20px 0px 0px;
      flex: 0 0 23px;
      height: 23px;

      &:before, &:after{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50% , -50%);
         background: $orange;
         transition: all .3s ease-in-out;
         border-radius: 20px;
      }

      &:before{
         height: 2px;
         width: 100%;
      }

      &:after{
         height: 100%;
         width: 2px;
      }
   }

	&__caption {
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: $ebony;
      display: flex;
      align-items: flex-start;
      cursor: pointer;

      @media (max-width: 576px){
         font-size: 20px;
      }

      &._active{
         .we-offer__icon{
            transform: rotate(180deg);

            &:after{
               opacity: 0;
            }
         }
      }
	}

	&__text {
	}

	&__descr {
      padding: 12px 0px 0px 44px;
      font-size: 16px;
      line-height: 160%;
      color: $stormGray;
	}
}
